header{
    border-bottom: solid 1px #CCCCCC;
    background-color: white;
    width: 100%;
    height: 70px;
}
header .logo{
    margin-left: 20px;
    width: inherit;
    height: inherit;
    background: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-        higher-level_programming+/268/logo.png");
    background-repeat: no-repeat;
}
